<!-- <table> -->
    <!-- <tr> -->
        <!-- <td><a href="{{site.baseurl}}/index">Home</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/heuristicAlgo">heuristic</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/main2_updated_again">Game</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/leaderboard">Leaderboard</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/plan">Plan</a></td> -->
    <!-- </tr> -->
<!-- </table> -->
<div class="navbar">
    <!-- <img src="" class="Logo"> -->
    <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/mainfile">Game</a></li>
        <li><a href="{{site.baseurl}}/leaderboard">Leaderboard</a></li>
        <li><a href="{{site.baseurl}}/aboutUs">About Us</a></li>
    </ul>
</div>